*.gem
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.idea

Gemfile.lock

spec/dummy/
spec/dummy_app/db/schema.rb
spec/dummy_app/log/*
spec/dummy_app/tmp/*
